* {
box-sizing: border-box;
}
body {
 margin: 0;
 padding: 0;
 font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: #0499ff;
}
.nav {
  min-height: 40px;
  background-color: #000;
  text-align: center;
  padding: 10px;
  font-weight: 600;
}
.menu {
  display: flex;
  flex-flow: row;
  color: #fff;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  justify-content: space-around;
}
.menu li {
  padding: 10px;
}
.name {
  display: block;
  margin-right: auto;
}
header {
  width:  100%;
  background-image: url("https://placeimg.com/1000/400/any");
  background-size: cover;
  height: 350px;
  text-align: center;
  padding-top: 40px;
}
header img {
  border-radius: 50%;
  border: 2px solid #000;
  transition: all 0.5s;
}
header img:hover {
  border: 5px solid #000;
  transition: scale(1.2) rotate(25deg);
}
.tag {
  display:table;
  background-color: #fff;
  margin: 10px auto;
  padding:  10px;
  border-radius: 10px;
  transition: transform 1s ease-out;
}
.tag:hover{
transform: translateX(40px);
}
.sub-title {
  background-color: #000;
  color: yellow;
  transition: transform 1s ease-out;
}
.sub-title:hover {
  transform: translateX(40px);
}
.content{
  display: flex;
  flex-flow: row;
  margin: 0 auto;
  justify-content: space-around;
}
.card {
  max-width: 400px;
  margin: 10px;
  padding: 50px;
  border-bottom: 3px solid grey;
  border-radius: 5px;
}
.tag-list {
  display: flex;
  flex-flow: row;
  list-style-type: none;
  color: #fff;
  padding: 10px;
}
.tag-yellow {
  background-color: #ff9904;
  transition: padding 0.3s ease-out , background-color 1s ease-out, transform 1s ease-out ;
}
.tag-yellow:hover {
  background-color: #32c22b;
  padding: 15px;
  transform:translateY(15px) ;
}
.tag-blue {
  background-color: #0399ff;
  transition: padding 0.3s ease-out , background-color 1s ease-out , transform 1s ease-out ;

}
.tag-blue:hover {
  background-color: #32c22b;
  padding: 15px;
  transform:translateY(15px);
}
footer {
  text-align: center;
  padding: 60px;

}
